P {
  color:#232355}
.destacado{
  color:#FF5733;
  font-family:"ARIAL";
  font-style:normal;
  font-aize:300px} 
H1 {
  color:#DF2F47}
H6 {
  COLOR:#DAF7A6}
A {
  color:black}
body {
  background-color:#FFC300}